@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

@media(max-width: 768px) {

:root {
    --color-1: hsl(7, 99%, 70%);
    --color-2: hsl(51, 100%, 49%);
    --color-3: hsl(167, 40%, 24%);
    --color-4: hsl(198, 62%, 26%);
    --color-5: hsl(168, 34%, 41%);
    --color-6: hsl(212, 27%, 19%);
    --color-7: hsl(213, 9%, 39%);
    --color-8: hsl(232, 10%, 55%);
    --color-9: hsl(210, 4%, 67%);
    --color-10: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

.nav-links {
    display: none;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: var(--color-10);
    position: absolute;
    right: 30px;
    padding: 20px 0;
}

.menu li:not(:last-child) {
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--color-9);
}

#btn-contact-m {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-2);
    color: var(--color-1);
    text-transform: uppercase;
    font-family: 'Fraunces';
    font-size: 12px;
    border-radius: 30px;
}

#btn-contact-m:hover {
    background-color: var(--color-1);
    color: var(--color-2);
}

.open {
    display: block;
}

}